<h1>Welcome to the Nested Forms Lab!</h1>

<form action="/checkout" method="post">
  Item to purchase: <input type="text" name="item">
 
  <button type="submit" value="submit">Submit</button>
</form>
